@using GridCore
@using GridMvc
@addTagHelper *, GridCore
@{
    ViewBag.Title = "Index with Grid";

}
@model ISGrid



<environment names="Development">
    <link href="~/css/gridmvc.css" rel="stylesheet" type="text/css"/>
</environment>

<environment names="Staging, Production">
    <link href="~/css/gridmvc.min.css" rel="stylesheet" type="text/css" />
</environment>

<div class="row">
    <div class="col-md-12">
        <p>
            Beispiel MVC-Grid
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
            <grid model="@Model"/>
    </div>
</div>